@import 'tailwindcss';


:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-col: #007BFF;
    --secondary-col: #FF6F00;
    background-color: #f0f7ff;
    --bg-col: #f0f7ff;
}

.body-container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

a {
    transition: all;
    transition-duration: 150ms;
}

button {
    cursor: pointer;
    transition: all;
    transition-duration: 150ms;
}

button:hover {
    filter: brightness(95%);
}

button:active {
    transform: scale(0.98)
}